#top{height:40px;background-color:#F5F5F5;
    .top_l{
        ul{
            li{
                float:left;margin-left:8px;
            }
        }
    }
    .top_r{
        ul{
            li{
                float:left;
                width:98px;
                text-align:center;
                border-right:1px solid #ccc;
            }
        }
    }
}
#search{
    height:124px;
    .search_l{
        background:url('../img/logo.jpg');
        width:300px;
        height:120px;
    }
    .search_c{
        .search_key{
            width:400px;
            height:38px;
            border:2px solid #CC1D00;
            margin-top:36px;
            padding-left:10px;
            color:red;
            vertical-align:top;    
        }
        .sub{
            height:38px;
            background-color:#CC1D00;
            width:90px;
            margin-top:36px;
        }
        .goods{
            height:16px;
            li{
                height:16px;
                float:left;
                margin-right:12px;
                a{
                    font-size:12px;
                    height:16px;
                    width:16px;
                }
            }
        }
    }
    .search_r{
        background:url('../img/logo2.gif');
        width:200px;
        height:90px;
        margin-top:14px;
    }
}
#nav{
    height:36px;
    .con{
        // 右边二级导航
        h2{
            width:180px;
            height:36px;
            background-color:#CB351A;
            text-align:center;
            line-height:36px;
            color:#fff;
            position: relative;
            .goodslist{
                background:#CB3E25;
                display: none;
                position: absolute;
                li{
                    // height: 53px;
                    width: 180px;
                    padding-top:8px;
                    border-bottom:1px solid #AAAAAA;
                    img{
                        float: left;
                        margin-left:20px;
                    }
                    h3{
                        // height:14px;
                        color:#fff;
                        padding-right: 10px;
                        // float: right;
                    }
                    p{
                        color:#ccc;
                        // float: right;
                    }
                }
            }
            &:hover .goodslist{
                display: block;
                
            }
        }
        // 右边的二级导航结束
        .nav_g{
            li{
                float:left;
                height:36px;
                text-align:center;
                line-height:36px;
                &:hover{
                border-bottom:2px solid #CB351A;
                }
                a{
                    padding:0 12px;
                }
            }
        }
        .buycar{
            width:200px;
            height:36px;
            background:#F9F9F9;
            padding-left:78px;
            padding-top:13px;
        }
    }
}
#center{
   .con{
        .center_1{
            height: 900px;
            border:2px solid #ccc;
            ul{
               img{
                float: left;
                border:1px solid #ccc;

            }
            .goodzoom{
                margin-left: 180px;
            }
            h4{
                float: left;
                margin-top: 20px;
                margin-left: 180px;
                color:#000;
                font-size: 20px;
                font-weight:bold;
            }
            h3{
                float: left;
                margin-top: 20px;
                color:red;
                font-weight:bold;
            }
            span{
                width:15px;
                height: 15px;
                color:blue;
                font-weight: bold;
            } 
        }
            
        } 
   }   
}
#foot{
    .con{
        .foot_t{
            .foot_tt{
                ul{ 
                    height:87px;
                    margin-top:20px;
                    border-bottom:1px solid #ccc;
                    li{
                        float:left;
                        margin-right:78px;
                        height:50px;
                        width:168px;
                        span{
                            width:49px;
                            height:47px;
                            float:left;
                        }
                        h3{
                            margin-top:10px;
                            font-size:14px;
                            color:#000000;
                            font-weight:bold;
                        }
                    }
                }
            }
            .foot_tb{
                padding-left:10px;
                padding-top:58px;
                dl{
                    float:left;
                    margin-right:124px;

                    dt{
                        font-size:14px;
                        color:#000000;
                        font-weight:bold;
                        margin-bottom:10px;
                    }
                    dd{
                        margin-bottom:10px;
                    }
                }
                .code{
                    h3{
                        font-size:14px;
                        color:#000000;
                        font-weight:bold;
                        margin-bottom:10px;
                    }
                }
            }
        }
        .foot_c{
            ul{
                height:35px;background:#444851;
                padding-left:100px;
                li{
                    float:left;
                    line-height:35px;
                    &:hover a{
                        color:#DFDFD0;
                    }
                    a{
                        padding:0 19px;
                        color:#A3967C;
                        border-right:1px solid #ccc;
                    }
                }
            }
        }
        .foot_b{
            .foot_bt{
                margin-top: 10px;
                p{
                    text-align: center;
                    margin-bottom:10px;
                }
            }
            .foot_bb{
                margin-left: 360px;
                margin-top: 25px;
                img{
                    margin-right:8px;
                    border:1px solid #ccc;
                }
            }
        }
    }
}