#top {
  height: 40px;
  background-color: #F5F5F5;
}

#top .top_l ul li {
  float: left;
  margin-left: 8px;
}

#top .top_r ul li {
  float: left;
  width: 98px;
  text-align: center;
  border-right: 1px solid #ccc;
}

#search {
  height: 124px;
}

#search .search_l {
  background: url("../img/logo.jpg");
  width: 300px;
  height: 120px;
}

#search .search_c .search_key {
  width: 400px;
  height: 38px;
  border: 2px solid #CC1D00;
  margin-top: 36px;
  padding-left: 10px;
  color: red;
  vertical-align: top;
}

#search .search_c .sub {
  height: 38px;
  background-color: #CC1D00;
  width: 90px;
  margin-top: 36px;
}

#search .search_c .goods {
  height: 16px;
}

#search .search_c .goods li {
  height: 16px;
  float: left;
  margin-right: 12px;
}

#search .search_c .goods li a {
  font-size: 12px;
  height: 16px;
  width: 16px;
}

#search .search_r {
  background: url("../img/logo2.gif");
  width: 200px;
  height: 90px;
  margin-top: 14px;
}

#nav {
  height: 36px;
}

#nav .con h2 {
  width: 180px;
  height: 36px;
  background-color: #CB351A;
  text-align: center;
  line-height: 36px;
  color: #fff;
  position: relative;
}

#nav .con h2 .goodslist {
  background: #CB3E25;
  display: none;
  position: absolute;
}

#nav .con h2 .goodslist li {
  width: 180px;
  padding-top: 8px;
  border-bottom: 1px solid #AAAAAA;
}

#nav .con h2 .goodslist li img {
  float: left;
  margin-left: 20px;
}

#nav .con h2 .goodslist li h3 {
  color: #fff;
  padding-right: 10px;
}

#nav .con h2 .goodslist li p {
  color: #ccc;
}

#nav .con h2:hover .goodslist {
  display: block;
}

#nav .con .nav_g li {
  float: left;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

#nav .con .nav_g li:hover {
  border-bottom: 2px solid #CB351A;
}

#nav .con .nav_g li a {
  padding: 0 12px;
}

#nav .con .buycar {
  width: 200px;
  height: 36px;
  background: #F9F9F9;
  padding-left: 78px;
  padding-top: 13px;
}

#center .con .center_1 {
  height: 900px;
  border: 2px solid #ccc;
}

#center .con .center_1 ul img {
  float: left;
  border: 1px solid #ccc;
}

#center .con .center_1 ul .goodzoom {
  margin-left: 180px;
}

#center .con .center_1 ul h4 {
  float: left;
  margin-top: 20px;
  margin-left: 180px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

#center .con .center_1 ul h3 {
  float: left;
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

#center .con .center_1 ul span {
  width: 15px;
  height: 15px;
  color: blue;
  font-weight: bold;
}

#foot {
  margin-top: 300px;
  margin-top: 2px solid #ccc;
}

#foot .con .foot_t .foot_tt ul {
  height: 87px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

#foot .con .foot_t .foot_tt ul li {
  float: left;
  margin-right: 78px;
  height: 50px;
  width: 168px;
}

#foot .con .foot_t .foot_tt ul li span {
  width: 49px;
  height: 47px;
  float: left;
}

#foot .con .foot_t .foot_tt ul li h3 {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

#foot .con .foot_t .foot_tb {
  padding-left: 10px;
  padding-top: 58px;
}

#foot .con .foot_t .foot_tb dl {
  float: left;
  margin-right: 124px;
}

#foot .con .foot_t .foot_tb dl dt {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

#foot .con .foot_t .foot_tb dl dd {
  margin-bottom: 10px;
}

#foot .con .foot_t .foot_tb .code h3 {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

#foot .con .foot_c ul {
  height: 35px;
  background: #444851;
  padding-left: 100px;
}

#foot .con .foot_c ul li {
  float: left;
  line-height: 35px;
}

#foot .con .foot_c ul li:hover a {
  color: #DFDFD0;
}

#foot .con .foot_c ul li a {
  padding: 0 19px;
  color: #A3967C;
  border-right: 1px solid #ccc;
}

#foot .con .foot_b .foot_bt {
  margin-top: 10px;
}

#foot .con .foot_b .foot_bt p {
  text-align: center;
  margin-bottom: 10px;
}

#foot .con .foot_b .foot_bb {
  margin-left: 360px;
  margin-top: 25px;
}

#foot .con .foot_b .foot_bb img {
  margin-right: 8px;
  border: 1px solid #ccc;
}
