#center .con .center_r {
  margin-right: 120px;
}

#center .con .center_r .divPhone_t h3 {
  float: left;
}

#center .con .center_r .divPhone_t p {
  float: left;
}

#center .con .center_r .divPhone_t p a {
  color: #ccc;
}

#center .con .center_r .divPhone input {
  display: block;
  width: 278px;
  padding: 0px 5px;
  border: 1px solid #dedede;
  color: #999;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

#center .con .center_r .divPhone_b p {
  float: right;
  margin-right: 10px;
}

#center .con .center_r .divPhone_b .btn {
  background-color: #e83917;
  width: 280px;
  margin-top: 5px;
  color: #fff;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

#foot .con .foot_t {
  margin-top: 300px;
  border-top: 2px solid #ccc;
}

#foot .con .foot_t .foot_tt ul {
  height: 87px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

#foot .con .foot_t .foot_tt ul li {
  float: left;
  margin-right: 78px;
  height: 50px;
  width: 168px;
}

#foot .con .foot_t .foot_tt ul li span {
  width: 49px;
  height: 47px;
  float: left;
}

#foot .con .foot_t .foot_tt ul li h3 {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

#foot .con .foot_t .foot_tb {
  padding-left: 10px;
  padding-top: 58px;
}

#foot .con .foot_t .foot_tb dl {
  float: left;
  margin-right: 124px;
}

#foot .con .foot_t .foot_tb dl dt {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

#foot .con .foot_t .foot_tb dl dd {
  margin-bottom: 10px;
}

#foot .con .foot_t .foot_tb .code h3 {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
}

#foot .con .foot_c ul {
  height: 35px;
  background: #444851;
  padding-left: 100px;
}

#foot .con .foot_c ul li {
  float: left;
  line-height: 35px;
}

#foot .con .foot_c ul li:hover a {
  color: #DFDFD0;
}

#foot .con .foot_c ul li a {
  padding: 0 19px;
  color: #A3967C;
  border-right: 1px solid #ccc;
}

#foot .con .foot_b .foot_bt {
  margin-top: 10px;
}

#foot .con .foot_b .foot_bt p {
  text-align: center;
  margin-bottom: 10px;
}

#foot .con .foot_b .foot_bb {
  margin-left: 360px;
  margin-top: 25px;
}

#foot .con .foot_b .foot_bb img {
  margin-right: 8px;
  border: 1px solid #ccc;
}
